body {
    background-color: rgb(255, 255, 255);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    padding: 15px 10px;
    display: flex;
    align-items: center;
}

.menu-item {
    font-size: 16px;
    color: black;
    margin: 0px 10px;
    text-decoration: none;
}

.menu-item:hover {
    text-decoration: underline;
}

#image1 {
    margin-top: 0px;
    text-align: center;
    size: 60%
}

#about {
    margin-top: 75px;
    text-align: center;
}

.about-me {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 164, 229);
    font-size: 20px;
}

#linkto {
    margin-top: 0px;
    text-align: center;
}

.link-to {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 164, 229);
    font-size: 20px;
}
